body{
  font-family: cursive;
  background-image: url('https://www.teahub.io/photos/full/102-1027020_work-in-progress.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

.navigationBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login,.register{
    margin-top:10px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    background: none;
    color: wheat;
    cursor: pointer;
}

.login:hover,
.register:hover{
  color:white;
}

.credentials{
  margin-left: 10px;
  color:white
}

.title{
  margin-left: 20px;
  text-align: center;
  color:whitesmoke;
}

.headline-test{
  margin-top: 100px;
  margin-left: 20px;
  color:whitesmoke;
}

.options{
  text-align: center;
}

.tests{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.test{
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.464);
  backdrop-filter: blur(2px);
}

.test:hover{
  background-color: rgba(0, 0, 0, 0.82);
  backdrop-filter: blur(2px);
}
