body{
  font-family: cursive;
  background-image: url('https://www.teahub.io/photos/full/102-1027020_work-in-progress.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

.navigationBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login,.register,.homePage{
    margin-top:20px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    background: none;
    color: wheat;
    cursor: pointer;
    text-decoration: none;
}

.homePage{
  padding-left: 10px;
}

.login:hover,
.register:hover,
.homePage:hover{
  color:white;
}

.credentials{
  margin-left: 10px;
  color:white
}

.title{
  margin-left: 20px;
  text-align: center;
  color:whitesmoke;
}

.headline-test{
  margin-top: 100px;
  margin-left: 20px;
  color:whitesmoke;
}

.options{
  text-align: center;
}

.tests,.questions{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.test,.oneQuestion{
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 10px 10px 10px 10px;
  margin-top: 15px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.464);
  backdrop-filter: blur(2px);
  color: white;
  text-decoration: none;
}

.oneQuestion{
  font-size: medium;
}

.test:hover,
.oneQuestion:hover{
  background-color: rgba(0, 0, 0, 0.82);
  backdrop-filter: blur(2px);
}

.viewTest{
  display: flex;
  flex-direction: column;
  position: relative;
  top:100px;
  width: 95%;
  height: auto;
  color: white;
  margin: 10px 30px 30px 30px;
  padding-left: 10px ;
}

.answers{
  margin-left: 30px;
}

.startTest{
  position: relative;
  top:50px;
  color: white;
  border: 2px solid wheat;
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
}

.startTest:hover{
  background-color: gray;
  transition: background-color 0.5s linear 0.1s;
}

